@import "tailwindcss";

@font-face {
    font-family: 'YekanBakhFaNum';
    src: url('/assets/fonts/YekanBakhFaNum-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: YekanBakhFaNum !important;
  }